link(href="/static/libs/style.css" rel="stylesheet")
script(src="/static/libs/iconfont/iconfont.js")
div(class="footer")
  div(class="container wraper")
    ul(class="footer_link")
      li(class="r")
        a(href="/") 网站首页
      li(class="r")
        a(href="/aboutUs.html") 关于我们
      li(class="r")
        a(href="http://istudy.isoftstone.com/student/main") 软通盛典
      li(class="r")
        a(href="https://www.zhihu.com/question/50374310/answer/124377418") 数字媒体
      li(class="r")
        a(href="http://www.w3school.com.cn") 前端学习
    div(class="icon_link")
      a(href="http://user.qzone.qq.com/297947067")
        svg(class="icon lf" aria-hidden="true")
          use(xlink:href="#icon-qq")
      a(href="http://weibo.com/u/5677092035")
        svg(class="icon lf" aria-hidden="true")
          use(xlink:href="#icon-weibo")
      a(href="##")
        svg(class="icon lf" aria-hidden="true" href="##")
          use(xlink:href="#icon-weixin")
  p(class="text-muted beian") Copyright © 2017 huangqingyi.cn All Rights Reserved | 渝ICP备17003488号