link(href="/static/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
link(href="/static/libs/custom.css")
script(src="/static/libs/jquery/dist/jquery.min.js")
script(src="/static/libs/bootstrap/dist/js/bootstrap.min.js")