<!DOCTYPE html>
<html>
<head>
	<title>404</title>
	<script src="/static/libs/jquery/dist/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/libs/bootstrap/dist/css/bootstrap.min.css">
	<script src="/static/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<meta charset='utf-8'>
	<style type="text/css">
		.herror{
			font-size: 100px;
		}
		.nbsp{
			height: 50px;
		}
		.text-muted{
			padding: 5px;
			font-size: 20px;
		}
		.reason{
			font-family: "微软雅黑";
			font-size: 30px;
		}
	</style>
</head>
<body>
 	<div class="container">
 		<div class="page-header">
 			<h1 class="herror">404&nbsp;<small>无法打开页面</small></h1>
 		</div>
 		<div class="nbsp"></div>
 		<h2 class="reason">可能原因：</h2>
 		<p class="text-muted">1、网络信号差</p>
 		<p class="text-muted">2、找不到请求页面</p>
 		<p class="text-muted">3、输入的网址不正确</p>
		<p><a href="/">返回首页</a></p>
		<p><a href="https://github.com/QingyiHuang">github:黄卿怡</a></p>
		<p><a href="https://github.com/Ttt666">github:唐婷婷</a></p>
 	</div>
</body>
</html>