doctype
html
  head
    meta(http-equiv=Content-Type content="text/html;charset=utf-8")
    meta(name="baidu-site-verification" content="I8jGrwezyY")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="Keywords" content="软通盛典,nodejs,mongodb,bootstrap,慕课网")
    meta(name= "description"   content="重庆邮电大学,记录大学时光的精彩")
    title 地表最强慕课网
    include ./includes/head
  body
    include ./includes/header
    block content
    include ./includes/footer
