doctype
html
  head
    meta(http-equiv=Content-Type content="text/html;charset=utf-8")
    meta(name="baidu-site-verification" content="I8jGrwezyY")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="Keywords" content="黄卿怡的博客,huangqingyi，hqy，huangqingyi.cn")
    meta(name= "description"   content="黄卿怡的博客,记录大学时光的精彩")
    title #{title}
    style(.body{padding-top: 130px;})
    include ./includes/head

  body
    include ./includes/header
    block content
